.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-height: 361px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px;
}

.card__description {
  background-color: white;
  color: black;
  padding: 0;
  /* height: 79px;  */
  /* it's necessary to not limit the height of blocks with text content. Text content often changes, it may leads to troubles with page */
  height: 100vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  /* position: relative;
  You need to remove relative positioning and coordinate styles and set the item using flex/grid layout and margins/paddings */

  left: 20px;
  bottom: 25px;
  top: 25px;
  max-width: calc(100% - 25%);
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  /* position: relative;
  transform: translateY(0);
  transform: translateX(240px);You need to remove relative positioning and transform styles and set the item using flex/grid layout and margins/paddings */
}
.card__like-button:hover {
  opacity: 60%;
  transition: opacity 0.5s linear;
}
