.page {
  background-color: black;
  color: white;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__horizontal-rule {
  margin-top: 45px;
  opacity: 0.7;
  border: 1px solid #545454;
}
@media screen and (max-width: 110px) {
  .page__section {
    margin: 0 20px;
    max-width: cal(100% - 40px);
  }
}
