.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px), auto;
  align-items: baseline;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  margin-left: 18px;
}
.profile__edit-button:hover {
  opacity: 60%;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 60%;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
.profile__title {
  grid-area: title;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* line-height: 48px; */
}
.profile__description {
  grid-area: description;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding-top: 7px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.image__container {
  position: relative;
  display: inline-block;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
  background-image: url("../images/jacques-cousteau.svg");
  display: block;
}
.profile__image:hover .profile__button {
  opacity: 1;
}
.profile__button {
  background: url(../images/edit-icon.svg);

  height: 26px;
  width: 26px;

  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0%;
  opacity: 100%;
  transition: opacity 0.5s linear;
  cursor: pointer;
}
.profile__button:hover {
}
@media screen and (max-width: 768px) {
  .profile__title {
    font-size: 22px;
    line-height: 1.2;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__description {
    font-size: 14px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 588px) {
  .profile__info {
    max-width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  .profile__image {
    margin: 0;
    margin-bottom: 25px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }
  .profile__title {
    text-align: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }
}
